<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }} {{ site.author }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
				<h1 style="color:red">MY DISCORD NAME IS .... {{ site.discord }} </h1>
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:{{ site.email }}">email</a></li>
	        		<li><a href="{{ site.github }}">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
